body {
  background-color: #eaf6f6;
}
img {
  border-style: inset;
  margin-top: auto;
  align-items: center;
  border-width: thick;
  border-color: black;

}

hr {
  border-style: ridge;
  border-top-style: groove;
  border-color: white;
  border-width: 2px;
  border-top: 10px;
  width: 80%;
}

.page-header {
  background-color: powderblue;
  display: inherit;
  height: 20%;
  min-width: 100%;
  font: bold;
  align-items: center;
}

h1 {
  text-align: center;
  font: bold calc(1em + 2 * (100vw - 120px) / 100) 'Dancing Script',
    fantasy;
  margin: 2%;
}

main {
  font: 1rem 'Fira Sans', sans-serif;
}
